<carousel [isAnimated]="true">
    <slide><img src="assets/slike/pocetna1.jpg" alt="slide" style="display: block; width: 100%;"></slide>
    <slide><img src="assets/slike/pocetna2.jpeg" alt="slide" style="display: block; width: 100%;"></slide>
    <slide><img src="assets/slike/pocetna3.jpeg" alt="slide" style="display: block; width: 100%;"></slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Dobrodosli na sajt Muzejska kultura Srbije!</h1>
    </div>
</section>