<carousel [isAnimated]="true">
    <slide><img src="assets/slike/pocetna4.jpg" alt="slide" style="display: block; width: 100%;"></slide>
    <slide><img src="assets/slike/pocetna2.jpg" alt="slide" style="display: block; width: 100%;"></slide>
    <slide><img src="assets/slike/pocetna3.webp" alt="slide" style="display: block; width: 100%;"></slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Dobrodošli na sajt Muzejska kultura Srbije!</h1>
    </div>
    <div class="d-flex justify-content-center pt-4">
    <p>Ovde možete pogledati i kupiti ulaznice za izložbu koje se održavaju u muzejima u celoj Srbiji!</p>
</div>
</section>