<div class="mt-4">
    <app-baske-summary [isBasket]="false"></app-baske-summary>
</div>
<div class="d-flex justify-content-between flex-row mb-">
    <button class="btn btn-outline-primary" cdkStepperPrevious style="font-size:2rem;padding:0 1rem;background-color: #d3ad7f;color: black; border:black 2px solid;display: flex; align-items: center; justify-content: space-around;"
    onmouseover="this.style.color='black'; this.style.backgroundColor='white';"
    onmouseout="this.style.color='black'; this.style.backgroundColor='#d3ad7f'">
        <i class="fa fa-angle-left"></i>
        Nazad na adresu za dostavu
    </button>
    <button class="btn btn-primary" (click)="createPaymentIntent()" style="font-size:2rem;padding:0 1rem;background-color: #d3ad7f;color: black; border:black 2px solid;display: flex; align-items: center; justify-content: space-around;"
    onmouseover="this.style.color='black'; this.style.backgroundColor='white';"
    onmouseout="this.style.color='black'; this.style.backgroundColor='#d3ad7f'">
        <i class="fa fa-angle-right"> </i>
            Idi na placanje
    </button>
</div>