<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <table class="table table-hover" style="cursor: pointer;">
                <thead class="thead-light">
                    <tr>
                        <th>Porudzbina</th>
                        <th>Datum</th>
                        <th>Ukupan iznos</th>
                        <th>Status porudzbina/th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders" routerLink="/orders/{{order.porudzbinaId}}">
                        <td>{{order.datumKreiranja | date: 'medium'}}</td>
                        <td>{{order.iznosPorudzbine| currency}}</td>
                        <td>{{order.statusPorudzbine}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
