<div class="container">
    <div class="row" *ngIf="muzejs.length>0">
        <section class="col-3">
            <h5 class="text-warning ms-3">Sort</h5>
            <select class="form-select mb-4" (change)="onSortSelected($event)">
                <option *ngFor="let sort of sortOptions" [value]="sort.value">{{sort.name}}</option>
            </select>
            <h5 class="text-warning ms-3">Grad</h5>
            <ul class="list-group my-3">
                <li class="list-group-item" *ngFor="let m of muzejs" [class.active]="m.grad===shopParams.grad"
                    [value]="m.grad" (click)="onMuzejSelected(m.grad)">{{m.grad}}</li>
            </ul>
        </section>
        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center pb-2">
                <app-paging-header [totalCount]="totalCount" [pageNumber]="shopParams.pageNumber"
                    [pageSize]="shopParams.pageSize">
                </app-paging-header>
                <div class="d-flex mt-2">
                    <input (keyup.enter)="onSearch()" type="text" placeholder="Pretraga" class="form-control me-2"
                        #search>
                    <button (click)="onSearch()" class="btn btn-outline-primary mx-2">Pretrazi</button>
                    <button (click)="onReset()" class="btn btn-outline-success">Reset</button>
                </div>
            </div>
            <div class="row row-cols-3 g-3 mb-4">
                <div class="col" *ngFor="let ulaznica of ulaznice">
                    <app-ulaznica-stavka [ulaznica]="ulaznica"></app-ulaznica-stavka>
                </div>
            </div>
            <div class="d-flex justify-content-center" *ngIf="totalCount > 0">
                <app-pager [totalCount]="totalCount" [pageSize]="shopParams.pageSize"
                    (pageChanged)="onPageChanged($event)">
                </app-pager>
            </div>
        </section>
    </div>

</div>
<!--<ul>
    <li class="list-unstyled" *ngFor="let ulaznica of ulaznice ">
        {{ulaznica.ulaznicaId}}
        {{ulaznica.cenaUlaznice}}
        {{ulaznica.izlozba}}
        {{ulaznica.dostupna}}
    </li>
</ul>-->