<div class="bg-light px-4 py-3 text-uppercase fw-bold" style="font-size: 20px">
    Suma porudzbine
</div>
<div class="p-4">
    <ul class="list-unstyled mb-4">
        <li class="d-flex justify-content-between py-3 border-bottom" style="font-size: 20px">
            <strong class="text-muted">Cena porudzbine</strong>
            <strong style="color:#d3ad7f;">{{basketService.subtotal | currency:' &nbsp;&nbsp; RSD'}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom" style="font-size: 20px">
            <strong class="text-muted">Dostava</strong>
            <strong style="color:white;">{{basketService.shipping | currency:' &nbsp;&nbsp; RSD'}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom" style="font-size: 20px">
            <strong class="text-muted">Ukupno za naplatu</strong>
            <strong style="color:#d3ad7f;">{{basketService.total| currency:'  &nbsp;&nbsp; RSD'}}</strong>
        </li>
    </ul>
</div>
