<header class="header">
        <img src="/assets/slike/logo2.png" alt="logo" class="logo" style="max-height: 70px;">
    <nav class="navbar">
            <a class="p-2" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">POČETNA STRANA</a>
             <a class="p-2" routerLink="/shop" routerLinkActive="active">ULAZNICE</a>
             <ng-container *ngIf="accountService.currentKorisnik$ | async as korisnik">
            <a class="p-2" *ngIf="korisnik.tipKorisnika === 1;" routerLink="/admin" routerLinkActive="active">ADMIN PANEL</a>
          </ng-container>
    </nav>
    <div class="icons">
        <a routerLink="/basket" class="position-relative">
            <i class="fa fa-shopping-cart" style="font-size:40px; color:#fff;"></i>
            <div class="cart-no">
                {{basketService.brojUlaznica}}
            </div>
        </a>
        <ng-container *ngIf="(accountService.currentKorisnik$ | async)===null">
            <a routerLink="/profil/prijava" class="btn btn-outline-secondary header-navbar-link" style="font-size: 17px;color: #fff;" 
            onmouseover="this.style.color='#d3ad7f'; this.style.borderBottom='.1rem solid #fff'; this.style.paddingBottom='.5rem';">Prijava</a>&nbsp;
            <a routerLink="/profil/registracija" class="btn btn-outline-secondary me-3 header-navbar-link" style="font-size: 17px;color: #fff;"
            onmouseover="this.style.color='#d3ad7f'; this.style.borderBottom='.1rem solid #fff'; this.style.paddingBottom='.5rem';">Registracija</a>&nbsp;&nbsp;&nbsp;
        </ng-container>
        <ng-container *ngIf="accountService.currentKorisnik$ | async as korisnik">
            <div class="dropdown ms-3 me-5" style="cursor: pointer;" dropdown>
                <a dropdownToggle class="dropdown-toggle">
                    <strong style="color: #fff;">Zdravo, {{korisnik.korisnickoIme}} !</strong>
                </a>
                <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
                    <li class="py-1" style="font-size: 17px;" >
                        <a routerLink="/basket" class="dropdown-item">
                            <i class="fa fa-shopping-cart me-3" style="color:#d3ad7f;"></i>Pogledaj korpu
                        </a>
                    </li>
                    <li class="py-1" style="font-size: 17px;">
                        <a routerLink="/odrders" class="dropdown-item">
                            <i class="fa fa-history me-3" style="color:#d3ad7f;" ></i>Pogledaj porudzbine
                        </a>
                    </li>
                    <div class="dropdown-divider" style="font-size: 17px;"></div>
                    <li class="py-1" style="font-size: 17px;">
                        <a (click)="accountService.logout()" class="dropdown-item">
                            <i class="fa fa-sign-out me-3" style="color:#d3ad7f;"></i>Odjava
                        </a>
                    </li>
                </ul>

            </div>
        </ng-container>
    </div>
</header>