<div class="products-container"
  style="display: grid;grid-template-columns: repeat(auto-fit,minimax(280px,auto));gap: 1.5rem;margin-top:2rem; background-color: aliceblue;"
  *ngIf="ulaznica && !hideUlaznicaFlag">
  <div class="box"
    style="position: relative; padding: 10px; display: flex;flex-direction: column;justify-content: center;border-radius: 0.5rem;box-shadow:0 3px 5px #d3ad7f;">
    <a href="" class="text-decoration-none">
      <img src="{{ulaznica.slika}}" alt="{{ulaznica.izlozba}}"
        style="width: 100%;height:250px;object-fit: contain; object-position: center;padding: 20px; background: #f1f1f1; border-radius: 0.5rem;">
      <h3 class="text-uppercase"
        style=" font-size:2rem;font-weight:600;text-transform: uppercase;margin:0.5rem 0 0.5rem;color: #d3ad7f;">
        {{ulaznica.izlozba}}
      </h3>
    </a>
    <div class="content" style="display: flex; align-items: center; justify-content: space-around;">
      <span class="mb-2"
        style=" font-size:2rem;padding:0 1rem;background-color: #d3ad7f;color: black; border: 4px; font-weight: 500;">{{ulaznica.cenaUlaznice
        |
        currency:'RSD'}}</span>
      <button (click)="addStavkaPorudzbineToKorpa();hideUlaznica()" class="bt btn-primary fa fa-shopping-cart me-2"
        style=" font-size:2.75rem;padding:0 1rem;background-color: #d3ad7f;color: black; border: 2px solid;"
        onmouseover="this.style.color='black'; this.style.backgroundColor='white';"
        onmouseout="this.style.color='black'; this.style.backgroundColor='#d3ad7f'"></button>
      <button routerLink="/shop/{{ulaznica.ulaznicaId}}" class="btn btn-primary"
        style=" font-size:2rem;padding:0 1rem;background-color: #d3ad7f;color: black; border: 2px solid;display: flex; align-items: center; justify-content: space-around;"
        onmouseover="this.style.color='black'; this.style.backgroundColor='white';"
        onmouseout="this.style.color='black'; this.style.backgroundColor='#d3ad7f'">Pogledaj</button>
    </div>
  </div>
</div>